$color_royal_purple_approx: rebeccapurple;
$color_log_cabin_approx: #232323;
$black: #000;
$white: #fff;
$color_rangoon_green_approx: #181818;
$color_woodsmoke_approx: #111111;
$color_cerulean_approx: #00adee;
$gray: gray;
$color_gravel_approx: #494949;