$baseColor : #fff;
$baseBgColor : #111111;
$anotherBgColor : #181818;
$baseBorderColor : #232323;

body {
    background-color: $baseBgColor;
    overflow-x: hidden;
}

#header {
    background-color: $anotherBgColor;
    border-bottom: 1px solid $baseBorderColor;
    padding-top: 16px;
    position: relative;
    #logoImg {
        position: absolute;
        top: .75rem;
        width: 150px;
        height: 30px;
    }
    .button {
        padding: 0.1em 0.5rem;
        &.large {
            top: 0;
            i {
                line-height: 0.5;
            }
        }
    }
    a {
        color: $baseColor;
    }
    #searchBar {
        input {
            padding: 0.1em;
        }
        #searchSubmit {
            padding: 0.1em 1em;
            background-color: gray;
            i {
                background-color: transparent;
                color: $baseBorderColor;
            }
        }
    }
}

#sideBar {
    background-color: $anotherBgColor;
    border-right: 1px solid $baseBorderColor;
    width: 240px;
    .button {
        margin: 0;
    }
    a {
        text-align: left;
        color: $baseColor;
        i {
            padding-right: 1em;
        }
    }
    h5 {
        color: $baseColor;
        font-size: 0.75rem;
        padding-left: 0.85em;
        padding-top: 1rem;
        
    }
    #footer {
        font-size: 0.75rem;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        a {
            padding-right: 0.75rem;
        }
        .footerGroup {
            padding-top: 1rem;
            padding-bottom: 1rem;
            word-break: keep-all;
        }
    }
}

#contents {
    .videoGroup {
        width: 1310px;
        overflow-x: hidden;
        margin: 1rem auto;
        padding-bottom: 1rem;
        border-bottom: 1px solid $baseBorderColor;
        position: relative;
        span {
            position: absolute;
            border-radius: 1.5rem;
            border: 1px solid #000;
            color: #fff;
            background-color: $anotherBgColor;
            padding: 1rem;
            top: 25%;
            font-weight: bold;
            &#arrowLeft {
                left: .5rem;
            }
            &#arrowRight{
                right: 1rem;
            }
        }
        h5 {
            color: $baseColor;
        }
        .card {
            width: 210px;
            color: $baseColor;
            border: none;
            display: inline-block;
            margin: 0 .1rem;
            .card-section {
                background-color: $baseBgColor;
            }
            img {
                height: 118px;
            }
            h5 {
                font-size: 1rem;
            }
            p {
                font-size: 0.75rem;
                margin-bottom: 0;
                &.chName {
                    color: rgb(0, 173, 238);
                }
            }
        }
    }

}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: $baseBgColor;
}
::-webkit-scrollbar-thumb {
    background-color: #494949; 
}
::-webkit-scrollbar-button {
    background-color: $baseBgColor;
}
::-webkit-scrollbar-corner {
    background-color: $anotherBgColor;
}