body {
  background-color: #111111;
  overflow-x: hidden;
}

#header {
  background-color: #181818;
  border-bottom: 1px solid #232323;
  padding-top: 16px;
  position: relative;
}

#header #logoImg {
  position: absolute;
  top: .75rem;
  width: 150px;
  height: 30px;
}

#header .button {
  padding: 0.1em 0.5rem;
}

#header .button.large {
  top: 0;
}

#header .button.large i {
  line-height: 0.5;
}

#header a {
  color: #fff;
}

#header #searchBar input {
  padding: 0.1em;
}

#header #searchBar #searchSubmit {
  padding: 0.1em 1em;
  background-color: gray;
}

#header #searchBar #searchSubmit i {
  background-color: transparent;
  color: #232323;
}

#sideBar {
  background-color: #181818;
  border-right: 1px solid #232323;
  width: 240px;
}

#sideBar .button {
  margin: 0;
}

#sideBar a {
  text-align: left;
  color: #fff;
}

#sideBar a i {
  padding-right: 1em;
}

#sideBar h5 {
  color: #fff;
  font-size: 0.75rem;
  padding-left: 0.85em;
  padding-top: 1rem;
}

#sideBar #footer {
  font-size: 0.75rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#sideBar #footer a {
  padding-right: 0.75rem;
}

#sideBar #footer .footerGroup {
  padding-top: 1rem;
  padding-bottom: 1rem;
  word-break: keep-all;
}

#contents .videoGroup {
  max-width: 1310px;
  width: 100%;
  overflow-x: hidden;
  margin: 1rem auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid #232323;
  position: relative;
}

#contents .videoGroup .videoInner {
  width: 1310px;
  position: relative;
}

#contents .videoGroup span {
  position: absolute;
  border-radius: 1.5rem;
  border: 1px solid #000;
  color: #fff;
  background-color: #181818;
  padding: 1rem;
  top: 25%;
  font-weight: bold;
  z-index: 99;
}

#contents .videoGroup span.arrowLeft {
  left: .5rem;
  display: none;
}

#contents .videoGroup span.arrowRight {
  right: 1rem;
}

#contents .videoGroup h5 {
  color: #fff;
}

#contents .videoGroup .card {
  width: 210px;
  color: #fff;
  border: none;
  display: inline-block;
  margin: 0 .1rem;
}

#contents .videoGroup .card .card-section {
  background-color: #111111;
}

#contents .videoGroup .card img {
  height: 118px;
}

#contents .videoGroup .card h5 {
  font-size: 1rem;
}

#contents .videoGroup .card p {
  font-size: 0.75rem;
  margin-bottom: 0;
}

#contents .videoGroup .card p.chName {
  color: #00adee;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #111111;
}

::-webkit-scrollbar-thumb {
  background-color: #494949;
}

::-webkit-scrollbar-button {
  background-color: #111111;
}

::-webkit-scrollbar-corner {
  background-color: #181818;
}
