body {
  background-color: #111111;
  overflow-x: hidden;
}

.blurBox {
  filter: blur(5px);
  pointer-events: none;
}

#header {
  background-color: #181818;
  border-bottom: 1px solid #232323;
  padding-top: 16px;
  position: relative;
}

#header #logoImg {
  position: absolute;
  top: .75rem;
  width: 150px;
  height: 30px;
}

#header .button {
  padding: 0.1em 0.5rem;
}

#header .button.large {
  top: 0;
}

#header .button.large i {
  line-height: 0.5;
}

#header a {
  color: #fff;
}

#header #searchBar input {
  padding: 0.1em;
}

#header #searchBar #searchSubmit {
  padding: 0.1em 1em;
  background-color: gray;
}

#header #searchBar #searchSubmit i {
  background-color: transparent;
  color: #232323;
}

#sideBar {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #181818;
  border-right: 1px solid #232323;
  width: 240px;
}

#sideBar.forSmall {
  z-index: 99;
  max-width: 240px;
  width: 100%;
  position: absolute;
  height: 100%;
}

#sideBar .button {
  margin: 0;
}

#sideBar a {
  text-align: left;
  color: #fff;
}

#sideBar a i {
  padding-right: 1em;
}

#sideBar h5 {
  color: #fff;
  font-size: 0.75rem;
  padding-left: 0.85em;
  padding-top: 1rem;
}

#sideBar #footer {
  font-size: 0.75rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#sideBar #footer a {
  padding-right: 0.75rem;
}

#sideBar #footer .footerGroup {
  padding-top: 1rem;
  padding-bottom: 1rem;
  word-break: keep-all;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #111111;
}

::-webkit-scrollbar-thumb {
  background-color: #494949;
}

::-webkit-scrollbar-button {
  background-color: #111111;
}

::-webkit-scrollbar-corner {
  background-color: #181818;
}
