#contents .videoGroup {
  width: 436px;
  overflow-x: hidden;
  margin: 1rem auto;
  padding-bottom: 1rem;
  position: relative;
}

#contents .videoGroup.verySmall {
  width: 300px;
}

#contents .videoGroup.verySmall .card {
  width: 300px !important;
  display: none;
}

#contents .videoGroup.verySmall .card:first-child {
  display: inline-block;
}

#contents .videoGroup.verySmall .Gthumbnail {
  width: 300px !important;
  height: 150px !important;
}

#contents .videoGroup.verySmall span {
  display: none !important;
}

#contents .videoGroup .videoInner {
  width: 1310px;
  position: relative;
}

#contents .videoGroup span {
  position: absolute;
  border-radius: 1.5rem;
  border: 1px solid #000;
  color: #fff;
  background-color: #181818;
  padding: 1rem;
  top: 25%;
  font-weight: bold;
  z-index: 97;
}

#contents .videoGroup span.arrowLeft {
  left: .5rem;
  display: none;
}

#contents .videoGroup span.arrowRight {
  right: 1rem;
}

#contents .videoGroup h5 {
  color: #fff;
}

#contents .videoGroup .card {
  width: 210px;
  color: #fff;
  border: 0px solid #111111;
  display: inline-block;
  margin: 0 .1rem;
}

#contents .videoGroup .card .card-section {
  background-color: #111111;
}

#contents .videoGroup .card .Gthumbnail {
  width: 210px;
  height: 118px;
  overflow: hidden;
  position: relative;
}

#contents .videoGroup .card .centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

#contents .videoGroup .card img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#contents .videoGroup .card h5 {
  font-size: .75rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.1;
  height: 2.2em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#contents .videoGroup .card p {
  font-size: 0.75rem;
  margin-bottom: 0;
}

#contents .videoGroup .card p.chName {
  color: #00adee;
}
