@import "basic.scss";

#contents {
    margin: 1rem 0;
    color: $baseColor;

    .button {
        color: $baseColor;
        padding: 0.85em 0.25em;
        i {
            padding-right: .5rem;
        }
    }

    .thumbnail {
        img {
            width: 50px;
        } 
    }

    #videoInfo {
        position: relative;
        top: -40px;
        
    }
    #videoTxt {
        border-top: 1px solid $baseBorderColor;
        padding-top: 1em;


    }
}