@import "basic.scss";

#contents {
	margin: 1rem 0;
	color: $white;
	.button {
		color: $white;
		padding: 0.85em 0.25em;
		i {
			padding-right: .5rem;
		}
	}
	#videoInfo {
		position: relative;
		top: -40px;
	}
	#videoTxt {
		border-top: 1px solid $color_log_cabin_approx;
		padding-top: 1em;
	}
	.thumbnail img {
		width: 50px;
	}
}
#recommenList {
	color: $white;
	.switch {
		p {
			position: relative;
			top: .4rem;
			left: -65px;
		}
		label {
			position: relative;
			top: -2rem;
		}
	}
	.recommenDetail {
		h6 {
			font-size: .75rem;
			display: inline-block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			line-height: 1.1;
			height: 2.2em;
			text-align: left;
			word-wrap: break-word;
			margin-top: 1em;
		}
		a {
			color: $color_cerulean_approx;
			font-size: 0.75rem;
		}
		p {
			font-size: 0.75rem;
		}
	}
	.thumbnail img {
		width: 168px;
		height: 94px;
	}
}