#contents {
  margin-top: 2rem;
  margin-left: 5rem;
  padding: 0;
  position: relative;
}

#contents #recentVideo {
  padding-bottom: 1rem;
}

#contents #videoInfo {
  border-bottom: 1px solid #232323;
  width: 100%;
  height: 42px;
  position: relative;
  top: -40px;
}

#contents #videoInfo .button {
  color: #fff;
}

#contents #videoInfo .button i {
  padding-right: .5rem;
}

#contents #videoTxt {
  border-bottom: 1px solid #232323;
  width: 100%;
  top: -1rem;
  position: relative;
}

#contents #videoTxt > p {
  padding-left: 3.5rem;
  height: 50px;
  overflow: hidden;
}

#contents h5, #contents h6, #contents p {
  color: #fff;
}

#contents .thumbnail img {
  width: 2rem;
  height: 2rem;
}

#contents .media-object-section h6, #contents .media-object-section p {
  font-size: .75rem;
}

#contents #commentList .button {
  color: #fff;
  padding-left: 0rem;
}

#contents #commentList .commentOne {
  padding-bottom: 1rem;
}

#contents #commentList .commentOne a {
  color: #00adee;
}

#contents #commentList .commentOne span {
  color: #fff;
  padding-left: .5rem;
}

#contents #commentList .commentOne a, #contents #commentList .commentOne span {
  font-size: .75rem;
}

#contents #commentList .commentOne p {
  padding-top: .5rem;
}

#recommenList {
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 0;
  position: relative;
  width: 402px;
}

#recommenList h6 {
  font-size: .75rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.1;
  height: 2.2em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 1em;
}

#recommenList h6, #recommenList p {
  color: #fff;
}

#recommenList a {
  color: #00adee;
}

#recommenList p, #recommenList a {
  font-size: .75rem;
}

#recommenList .switch {
  position: relative;
}

#recommenList .switch p {
  position: relative;
  top: .3rem;
  left: -60px;
}

#recommenList .switch label {
  position: relative;
  top: -2rem;
}

#recommenList .switch input:checked ~ .switch-paddle {
  background: #00adee;
}

#recommenList .recommenVideo .thumbnail {
  border: 0;
}

#recommenList .recommenVideo img {
  width: 168px;
  height: 95px;
}

#recommenList .recommenVideo .recommenDetail {
  width: 200px;
}
