$baseColor: #fff;
$baseBgColor: #111111;
$anotherBgColor: #181818;
$baseBorderColor: #232323;

#contents {
    margin-top: 2rem;
    margin-left: 5rem;
    padding: 0;
    position: relative;


    #recentVideo {
        padding-bottom: 1rem;
    }

    #videoInfo {
        border-bottom: 1px solid $baseBorderColor;
        width: 100%;
        height: 42px;
        position: relative;
        top: -40px;

        .button {
            color: $baseColor;

            i {
                padding-right: .5rem;
            }
        }
    }

    #videoTxt {
        border-bottom: 1px solid $baseBorderColor;
        width: 100%;
        top: -1rem;
        position: relative;

        & > p {
            padding-left: 3.5rem;
            height: 50px;
            overflow: hidden;
        }
    }

    h5, h6, p {
        color: $baseColor;
    }

    .thumbnail img {
        width: 2rem;
        height: 2rem;
    }

    .media-object-section {
        h6, p {
            font-size: .75rem;
        }
    }

    #commentList {
        .button {
            color: $baseColor;
            padding-left: 0rem;
        }

        .commentOne {
            padding-bottom: 1rem;

            a {
                color: #00adee;
            }

            span {
                color: $baseColor;
                padding-left: .5rem;
            }

            a, span {
                font-size: .75rem;
            }

            p {
                padding-top: .5rem;
            }
        }
    }
}

#recommenList {
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0;
    position: relative;
    width: 402px;

    h6,p{
        color: $baseColor;
    }
    a {
        color: #00adee;
    }
    p,a {
        font-size: .75rem;
    }

    .switch {
        position: relative;
        p {
            position: relative;
            top: .3rem;
            left: -60px;
        }
        label {
            position: relative;
            top: -2rem;
        }
        input:checked ~ .switch-paddle {
            background: #00adee;
        }
    }

    .recommenVideo {
        .thumbnail {
            border: 0;
        }

        img {
            width: 168px;
            height: 95px;
        }

        .recommenDetail {
            width: 200px;
        }
    }
}
